body {
	font-family: arial, sans;
}

h1 {
	text-align: center;
	
}

b {
	font-size: 25px;
	
}

#detexify {
	font-size: 10px;
	text-align: center;
}

#bigt {
	margin-left: auto;
	margin-right: auto;
}

#t1 {
	padding-left: auto;
	padding-right: auto;
	margin-left: auto;
	margin-right: auto;

}

#me {
	margin-right: 150px;
	font-size: 12px;
}

#t2 {
	padding-left: auto;
	padding-right: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
}

#cal {
	margin-left: auto;
	margin-right: auto;
}