body{
	text-align: center;
	font-size: 20px;
}

table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

p{
text-align: left;
}

#home{
	text-align: center;
}