body {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
	margin-top: 100px;
	text-align: center;
	font-family: "Comic Sans MS", sans;

}

#center {
	margin-left: auto;
	margin-right: auto;
	
}